<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @message.phone_number %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @message.delivered %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
